<div>
    <p class="name"> Name: {{name}}</p>
    <p class="ciudad">Ciudad : {{address.city}} </p>
    <p class="direccion"> Dirección : {{address.street}} </p>

    <ul class="hobbies">
      <p class="title">Mis Hobbies</p>
      <li *ngFor= 'let hobbies of hobbie'> Hobbies: {{hobbies}} </li>
    </ul>
</div><br><br>

<h1>Segundo ejemplo</h1>

<div>
  <form>
    <input type="text" name="nombre" [(ngModel)]="nombre">
    <input type="text" name="edad" [(ngModel)]="edad">
  </form>

  nombre : {{nombre}} <br>
  edad : {{edad}}
</div>
